body {
    background-color: #2f3640;
    width: 400px;
    height: 310px;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    size: 10px;
}
#app {
    max-height: 400px;
    height: 310px;
    /* This prevents the popup window from increasing its size. */
    overflow-y: visible;
    overflow-x: hidden;
}
#content {
    position: relative;
    top: 70px;
}
#profileview {
    display: none;
}

#avatar {
    border-radius: 10px;
    margin: 30px;
    width: 60px;
    float: left;
}

.apptitle {
    position: fixed;
    background-color: #353b48;
    padding: 5px;
    width: 100%;
    height: 35px;
    z-index: 9999;
}
.apptitle h1 {
    font-size: 18px;
    text-align: center;
}

.userName h1 {
    font-size: 18px;
    text-align: center;
}

.infos {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
}
.infos .element {
    margin: 2px;
    padding: 2px;
    text-align: center;
    background-color: none;
    flex-grow: 1;
}

.infos .element img {
    width: 32px;
}

#badges img {
    width: 26px;
}

.infos .element b {
    font-size: 15px;
}

#notes {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    padding: 3px, 0, 3px, 30px;
}
#notes #dev {
    text-align: right;
    width: 100%;
    display: none;
}

#loginpage {
    top: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
}

#loginpage .loginicon {
    width: 25%;
    text-align: center;
}

#loginpage .inputbox {
    text-align: center;
    margin: 10px;
    height: 30px;
    margin: 0;
    padding: 0;
    border-style: none;
}

#loginpage #loginbutton {
    margin: 0 5px 0 0;
    padding: 0;
    width: 45px;
    height: 30px;
}

#loginpage #server-select {
    width: 220px;
    height: 30px;
}

#loginpage p {
    padding: 15px;
}

#loginpage div {
    margin: 20px 0px 20px 0;
    text-align: center;
    width: 100%;
}

#loginpage .example img {
    width: 250px;
}
#navigation {
    background-color: #353b48;
    padding: 5px;
    position: fixed;
    top: 38px;
    width: 100%;
    height: 30px;
    align-content: flex-end;
    z-index: 9999;
}
#navigation img {
    display: inline-block;
    width: 20px;
}

#navigation #back {
    display: none;
}

#errorpage {
    display: none;
    padding: 15px;
}

/* Página de pesquisa de avatares */
div#searchPage {
    display: none;
    flex-direction: column;
}

div#searchPage div {
    width: auto;
    padding: 20px;
}
div#searchPage #searchTerms {
    width: auto;
    height: 30px;
}
div#searchPage #searchButton {
    width: auto;
    height: 30px;
}

div#searchPage #searchElements img {
    margin: 5px;
}
div#searchPage #searchElements .itensIMG {
    width: 100px;
    border-radius: 6px;
}

#searchnextpage {
    width: 100px;
    height: 30px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
}
#searchPage > div:nth-child(2) {
    margin: 0;
    padding: 0 20px;
}

#aboutpage {
    margin-top: 0;
    padding: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
}

div#koganotes {
    margin-top: 0;
    padding: 30px;
    display: none;
    flex-direction: column;
    justify-content: center;
}

div#koganotes {
    display: none;
}
div#koganotes #createNote {
    width: 100%;
    height: 180px;
    padding: 10px;
    background-color: #353b48;
}

div#koganotes textarea#typeNotes {
    width: 100%;
    height: 100px;
    /*
    min-width: 100%;
    min-height: 100px;
    max-width: 100%;
    max-height: 100px;
    text-align: left;*/
    resize: none;
}
div#koganotes input#typeProjectURL {
    width: 100%;
}
div#koganotes #saveNote {
    width: 80px;
    height: 30px;
    color: white;
    background-color: #4CAF50;
    border-style: none;
    text-align: center;
}

.pages {
    display: none;
}

a {
    color: white;
}