body {
    /*background-color: #2f3640;*/
    background: -webkit-linear-gradient(to right, #141e30, #243b55); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 400px;
    height: 310px;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    size: 10px;
}

a {
    color: white;
}

#app {
    max-height: 400px;
    height: 310px;
    /* This prevents the popup window from increasing its size. */
    overflow-y: visible;
    overflow-x: hidden;
}
#content {
    position: relative;
    top: 50px;
}

#avatar {
    border-radius: 10px;
    margin: 30px;
    width: 60px;
    float: left;
}

.apptitle {
    position: fixed;
    /**background-color: #353b48;**/
    background: -webkit-linear-gradient(to right, #141e30, #243b55); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    width: 100%;
    height: 40px;
    z-index: 9999;
}
.apptitle h1 {
    font-size: 18px;
    text-align: center;
}


#navigation {
    /*background-color: #353b48;*/
    background: -webkit-linear-gradient(to right, #19263d, #28415e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19263d, #28415e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5px;
    position: fixed;
    top: 38px;
    width: 100%;
    height: 30px;
    align-content: flex-end;
    z-index: 9999;
}
#navigation img {
    display: inline-block;
    width: 20px;
}

#navigation .hidden {
    display: none;
}

#navigation #back {
    display: none;
}

#errorpage {
    display: none;
    padding: 15px;
}


