div#koganotes {
    margin-top: 0;
    padding: 17px;
    display: none;
    flex-direction: column;
    justify-content: center;
}

div#koganotes {
    display: none;
}
div#koganotes .notes_card {
    width: 100%;
    /*height: 220px;*/
    padding: 6px;
    border-radius: 5px;
    background-color: #2f3640;
    margin: -10px 0px 0px -10px;
}

div#koganotes textarea#typeNotes {
    width: 100%;
    height: 75px;
    /*
    min-width: 100%;
    min-height: 100px;
    max-width: 100%;
    max-height: 100px;
    text-align: left;*/
    resize: none;
    border-style: dashed;
    background-color: #353b48;
    color: white;
}
div#koganotes input#typeProjectURL {
    width: 100%;
}
div#koganotes #saveNote {
    width: 80px;
    height: 30px;
    color: white;
    background-color: #4CAF50;
    border-style: none;
    text-align: center;
    margin: 0 70%;
}

div#koganotes .notetypeBox {
    width: 100%;
    height: 30px;
}

div#koganotes #typeNoteName {
    width: 100%;
}
div#koganotes .notesLayout {
    margin-bottom: 5px;
}
.pages {
    display: none;
}

div#notesArea {
    display: flex;
    flex-direction: column;
}

div#notesArea .notes_card {
    /*height: 250px;*/
    margin-bottom: 30px;
}

div#notesArea .deleteNoteButton {
    width: 30px;
    display: block;
    margin: 0 90%;
}

div#notesArea .updateNoteButton {
    display: inline;
    width: 80px;
    height: 30px;
    color: white;
    background-color: #4CAF50;
    border-style: none;
    text-align: center;
    margin: 10 2;
    float: right;
    display: block;
}

div#notesArea .linkNoteButton {
    display: inline;
    width: 80px;
    height: 30px;
    color: white;
    background-color: #3498db;
    text-decoration: none;
    border-style: none;
    text-align: center;
    margin: 10 2;
    float: right;
    display: block;
}

div#koganotes textarea.notetypeBox {
    width: 100%;
    height: 75px;
    resize: none;
    border-style: dashed;
    background-color: #353b48;
    color: white;
}